.btn:disabled {
    cursor: not-allowed;
  }
  
  .menu-heading {
    text-align: center;
  }
  .login-box{
    width: 450px;
    margin-left: 728px;
    margin-top: 140px;

  }
  .login-logo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }